/*覆盖element-ui样式*/
.el-input-number.is-without-controls .el-input__inner {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.el-input--mini .el-input__inner {
    height: 20px;
    line-height: 20px;
}

/*使表单标签和表单项处于同一行*/
.custom-form-inline {
    width: 60%;
    display: inline-flex;
    align-items: center;
    padding: 2px;
}