/*覆盖element-ui样式*/
.el-input-number.is-without-controls .el-input__inner {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.el-input .el-input__inner {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.el-input--mini .el-input__inner {
    height: 24px;
    line-height: 24px;
}

.el-popover--plain {
    padding: 5px !important;
}

.menu {
    width: 200px !important;
    text-align: left !important;
}

.subitems {
    width: 200px !important;
    text-align: left !important;
}
